sourcep.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Products">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="products">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:unsignedByte" />
              <xs:element name="title" type="xs:string" />
              <xs:element name="description" type="xs:string" />
              <xs:element name="category" type="xs:string" />
              <xs:element name="price" type="xs:decimal" />
              <xs:element name="discountPercentage" type="xs:decimal" />
              <xs:element name="rating" type="xs:decimal" />
              <xs:element name="stock" type="xs:unsignedByte" />
              <xs:element maxOccurs="unbounded" name="tags" type="xs:string" />
              <xs:element minOccurs="0" name="brand" type="xs:string" />
              <xs:element name="sku" type="xs:string" />
              <xs:element name="weight" type="xs:unsignedByte" />
              <xs:element name="dimensions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="width" type="xs:decimal" />
                    <xs:element name="height" type="xs:decimal" />
                    <xs:element name="depth" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="warrantyInformation" type="xs:string" />
              <xs:element name="shippingInformation" type="xs:string" />
              <xs:element name="availabilityStatus" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="reviews">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="rating" type="xs:unsignedByte" />
                    <xs:element name="comment" type="xs:string" />
                    <xs:element name="date" type="xs:dateTime" />
                    <xs:element name="reviewerName" type="xs:string" />
                    <xs:element name="reviewerEmail" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="returnPolicy" type="xs:string" />
              <xs:element name="minimumOrderQuantity" type="xs:unsignedByte" />
              <xs:element name="meta">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="createdAt" type="xs:dateTime" />
                    <xs:element name="updatedAt" type="xs:dateTime" />
                    <xs:element name="barcode" type="xs:unsignedLong" />
                    <xs:element name="qrCode" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="images" type="xs:string" />
              <xs:element name="thumbnail" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="total" type="xs:unsignedByte" />
        <xs:element name="skip" type="xs:unsignedByte" />
        <xs:element name="limit" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>